loop_rate:              240.0            # default: 240.0, the frequency at which to step sim in hz
gravity:                -9.81           # default: -9.81, earth gravity in m/s^2
max_effort:             100.0           # default: 50.0, the max force to apply to the model in vel mode

physics:
  fixedTimeStep: 0.001
  globalCFM: 0.000000001
  erp: 0.2