iiwa_front:
  use_inertia_from_file: True
  plugins:
  - module: pybullet_ros.plugins.joint_state_pub
    class: JoinStatePub
    publish_rate: 1000
  - module: iiwas_pybullet.plugins.feedforward_trajectory_controller
    class: FeedForwardTrajectoryController
    publish_rate: 1000
    gains:
      F_joint_1: { p: 10, d: 0.0 }  # Parameter for simulation
      F_joint_2: { p: 2000, d: 20.0 }  # Parameter for simulation
      F_joint_3: { p: 10, d: 1.0 }  # Parameter for simulation
      F_joint_4: { p: 500, d: 1.0 }  # Parameter for simulation
      F_joint_5: { p: 10, d: 0.5 }  # Parameter for simulation
      F_joint_6: { p: 300, d: 0.5 }  # Parameter for simulation
      F_joint_7: { p: 300, d: 0.005 }  # Parameter for simulation

iiwa_back:
  use_inertia_from_file: True
  plugins:
  - module: pybullet_ros.plugins.joint_state_pub
    class: JoinStatePub
    publish_rate: 1000
  - module: iiwas_pybullet.plugins.feedforward_trajectory_controller
    class: FeedForwardTrajectoryController
    publish_rate: 1000
    gains:
      B_joint_1: { p: 10, d: 0.0 }  # Parameter for simulation
      B_joint_2: { p: 2000, d: 20.0 }  # Parameter for simulation
      B_joint_3: { p: 10, d: 1.0 }  # Parameter for simulation
      B_joint_4: { p: 500, d: 1.0 }  # Parameter for simulation
      B_joint_5: { p: 10, d: 0.5 }  # Parameter for simulation
      B_joint_6: { p: 300, d: 0.5 }  # Parameter for simulation
      B_joint_7: { p: 300, d: 0.005 }  # Parameter for simulation

#iiwas_frame:
#  collision_filter_group:0
#  collision_filter_mask:10