iiwa_front:
  use_inertia_from_file: True
  robotSimType: iiwas_pybullet/GravityCompensationHWSim # HardwareInterface class
  plugins:
  - module: pybullet_ros.plugins.hardware_interface
    class: HardwareInterface

iiwa_back:
  use_inertia_from_file: True
  robotSimType: iiwas_pybullet/GravityCompensationHWSim # HardwareInterface class
  plugins:
  - module: pybullet_ros.plugins.hardware_interface
    class: HardwareInterface