<?xml version="1.0"?>
<robot name="iiwas" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find iiwas_description)/urdf/materials.xacro" />
    <xacro:include filename="$(find iiwas_description)/urdf/iiwas_frame.xacro"/>

    <xacro:arg name="namespace" default="/iiwas_frame"/>

    <xacro:property name="M_PI" value="3.1415926535897931"/>
    <xacro:arg name="world_to_front_base_x" default="0.190"/>
    <xacro:arg name="world_to_front_base_y" default="0.813"/>
    <xacro:arg name="world_to_front_base_z" default="0.0"/>

    <xacro:arg name="world_to_back_base_x" default="3.198"/>
    <xacro:arg name="world_to_back_base_y" default="0.813"/>
    <xacro:arg name="world_to_back_base_z" default="0.0"/>

    <xacro:iiwas_frame name="iiwas_frame" front_x="$(arg world_to_front_base_x)" front_y="$(arg world_to_front_base_y)"
                       front_z ="$(arg world_to_front_base_z)" back_x="$(arg world_to_back_base_x)"
                       back_y="$(arg world_to_back_base_y)" back_z ="$(arg world_to_back_base_z)"/>

    <!-- Load Gazebo lib and set the robot namespace -->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotParam>$(arg namespace)/robot_description</robotParam>
        </plugin>
    </gazebo>

<!--    <gazebo reference="iiwas_frame">-->
<!--        <material value="Gazebo/Black"/>-->
<!--        <static>true</static>-->
<!--        <turnGravityOff>0-->
<!--        </turnGravityOff> &lt;!&ndash; use gravity for the base even if disabled for the arms in order to prevent iiwas from falling&ndash;&gt;-->
<!--    </gazebo>-->



</robot>