<?xml version="1.0"?>
<launch>
    <arg name="use_front_iiwa" default="true" />
    <arg name="use_back_iiwa" default="false" />
    <arg name="machine_name" default="" />

    <!-- Joint Controller Mode, [ JointImpedanceControl | JointPositionControl ] -->
    <arg name="control_mode" default="JointPositionControl"/>

    <rosparam file="$(find iiwas_driver)/config/config.yaml" command="load"/>
	
	<!-- launch on realtime machine -->
	<node name="iiwa_front" pkg="iiwas_driver" type="iiwas_driver"
	      output="screen" required="true" 
	      if="$(eval use_front_iiwa and machine_name=='')"/>
	      
	<!-- launch on application machine -->
	<node name="iiwa_front" pkg="iiwas_driver" type="iiwas_driver"
	      output="log" required="true" machine="$(arg machine_name)" 
	      if="$(eval use_front_iiwa and machine_name!='')"/>
	      
	<!-- launch on for visualization -->
	<node name="iiwa_front" pkg="iiwas_driver" type="iiwas_fake_joint_publisher"
	 	  output="screen" required="true" unless="$(arg use_front_iiwa)"/>
    
    <!-- launch on realtime machine -->
	<node name="iiwa_back" pkg="iiwas_driver" type="iiwas_driver"
	      output="screen" required="true" 
	      if="$(eval use_back_iiwa and machine_name =='')"/>
	      
	<!-- launch on application machine -->      
	<node name="iiwa_back" pkg="iiwas_driver" type="iiwas_driver"
	      output="log" required="true" machine="$(arg machine_name)" 
	      if="$(eval use_back_iiwa and machine_name!='')"/>
	      
	<!-- launch on for visualization -->      
	<node name="iiwa_back" pkg="iiwas_driver" type="iiwas_fake_joint_publisher"
		  output="screen" required="true" unless="$(arg use_back_iiwa)"/>  
    
</launch>
