<?xml version="1.0"?>
<launch>
    <arg name="use_gripper" default="false"/>
    <arg name="robot_name" default="F"/>
    <arg name="parent" default="front_base"/>
    <arg name="base_iiwa_rpy" default="0 0 0"/>
    <arg name="hardware_interface" default="PositionJointInterface"/>

    <arg name="iiwa_urdf" default="$(find iiwas_description)/robots/iiwa.urdf.xacro"/>

    <param name="robot_description"
           command="$(find xacro)/xacro '$(arg iiwa_urdf)' robot_name:='$(arg robot_name)' parent:='$(arg parent)'
           base_rpy:='$(arg base_iiwa_rpy)' hardware_interface:='$(arg hardware_interface)'"/>
</launch>