<?xml version="1.0"?>
<launch>
    <arg name="use_front" default="true"/>
    <arg name="use_back" default="true"/>
    <arg name="use_gripper" default="false"/>

    <arg name="world_iiwa_f_x" default="0.190"/>
    <arg name="world_iiwa_f_y" default="0.813"/>
    <arg name="world_iiwa_f_z" default="0.0"/>
    <arg name="world_iiwa_f_rpy" default="0 0 0"/>

    <arg name="world_iiwa_b_x" default="3.198"/>
    <arg name="world_iiwa_b_y" default="0.813"/>
    <arg name="world_iiwa_b_z" default="0.0"/>
    <arg name="world_iiwa_b_rpy" default="0 0 0"/>

    <arg name="hardware_interface" default="hardware_interface/PositionJointInterface"/>

    <group ns="iiwas_frame">
        <param name="robot_description"
               command="$(find xacro)/xacro '$(find iiwas_description)/robots/iiwas_frame.urdf.xacro' namespace:='iiwas_frame'
               world_to_front_base_x:=$(arg world_iiwa_f_x) world_to_front_base_y:=$(arg world_iiwa_f_y) world_to_front_base_z:=$(arg world_iiwa_f_z)
               world_to_back_base_x:=$(arg world_iiwa_b_x) world_to_back_base_y:=$(arg world_iiwa_b_y) world_to_back_base_z:=$(arg world_iiwa_b_z)"/>
    </group>

    <include file="$(find iiwas_description)/launch/iiwa_single_bringup.launch" ns="iiwa_front" if="$(arg use_front)">
        <arg name="robot_name" value="F"/>
        <arg name="parent" value="front_base"/>
        <arg name="base_iiwa_rpy" value="$(arg world_iiwa_f_rpy)"/>
        <arg name="hardware_interface" value="$(arg hardware_interface)"/>
        <arg name="use_gripper" value="$(arg use_gripper)"/>
    </include>

    <include file="$(find iiwas_description)/launch/iiwa_single_bringup.launch" ns="iiwa_back" if="$(arg use_back)">
        <arg name="robot_name" value="B"/>
        <arg name="parent" value="back_base"/>
        <arg name="base_iiwa_rpy" value="$(arg world_iiwa_b_rpy)"/>
        <arg name="hardware_interface" value="$(arg hardware_interface)"/>
        <arg name="use_gripper" value="$(arg use_gripper)"/>
    </include>
</launch>
