<?xml version="1.0"?>
<launch>
    <arg name="world_iiwa_f_x" default="0.190"/>
    <arg name="world_iiwa_f_y" default="0.813"/>
    <arg name="world_iiwa_f_z" default="0.0"/>
    <arg name="world_iiwa_f_rpy" default="0 0 0"/>
    <arg name="world_iiwa_f_pitch" default="0.0"/>
    <arg name="world_iiwa_f_yaw" default="0.0"/>

    <arg name="world_iiwa_b_x" default="3.198"/>
    <arg name="world_iiwa_b_y" default="0.813"/>
    <arg name="world_iiwa_b_z" default="0.000"/>
    <arg name="world_iiwa_b_roll" default="0.0"/>
    <arg name="world_iiwa_b_pitch" default="0.0"/>
    <arg name="world_iiwa_b_yaw" default="0.0"/>

    <arg name="hardware_interface" default="PositionJointInterface"/>
    <arg name="frame_urdf" default="$(find iiwas_description)/robots/iiwas_frame_urdf.xacro"/>
    <arg name="iiwa_urdf" default="$(find iiwas_description)/robots/iiwa.urdf.xacro"/>

    <param name="iiwas_frame/robot_description"
           command="$(find xacro)/xacro '$(arg frame_urdf)' namespace:='iiwas_frame'
           world_to_front_base_x:=$(arg world_iiwa_f_x) world_to_front_base_y:=$(arg world_iiwa_f_y) world_to_front_base_z:=$(arg world_iiwa_f_z)
           world_to_back_base_x:=$(arg world_iiwa_b_x) world_to_back_base_y:=$(arg world_iiwa_b_y) world_to_back_base_z:=$(arg world_iiwa_b_z)"/>

    <param name="iiwa_front/robot_description"
           command="$(find xacro)/xacro '$(arg iiwa_urdf)' namespace:='iiwa_front'
           parent:='front_base' robot_name:='F' "/>
    <param name="iiwa_back/robot_description"
           command="$(find xacro)/xacro '$(arg iiwa_urdf)' namespace:='iiwa_back'
           parent:='back_base' robot_name:='B' "/>

<!--    <param name="iiwa_back_description"-->
<!--           command="$(find xacro)/xacro '$(arg urdf_file)'-->
<!--           world_to_iiwa_f_x:=$(arg world_iiwa_f_x) world_to_iiwa_f_y:=$(arg world_iiwa_f_y) world_to_iiwa_f_z:=$(arg world_iiwa_f_z)-->
<!--           world_to_iiwa_f_roll:=$(arg world_iiwa_f_roll) world_to_iiwa_f_pitch:=$(arg world_iiwa_f_pitch) world_to_iiwa_f_yaw:=$(arg world_iiwa_f_yaw)-->
<!--           world_to_iiwa_b_x:=$(arg world_iiwa_b_x) world_to_iiwa_b_y:=$(arg world_iiwa_b_y) world_to_iiwa_b_z:=$(arg world_iiwa_b_z)-->
<!--           world_to_iiwa_b_roll:=$(arg world_iiwa_b_roll) world_to_iiwa_b_pitch:=$(arg world_iiwa_b_pitch) world_to_iiwa_b_yaw:=$(arg world_iiwa_b_yaw)-->
<!--           hardware_interface:=$(arg hardware_interface)"/>-->

    <node name="rviz" pkg="rviz" type="rviz"
          args="-d $(find iiwas_description)/config/iiwas_two_separate.rviz"/>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="frame_publisher" output="screen" ns="iiwas_frame">
        <param name="publish_frequency" type="double" value="50.0"/>
    </node>

    <node name="front_joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" ns="iiwa_front">
    </node>

    <node name="back_joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" ns="iiwa_back">
    </node>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" ns="iiwa_front">
        <param name="publish_frequency" type="double" value="50.0"/>
    </node>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" ns="iiwa_back">
        <param name="publish_frequency" type="double" value="50.0"/>
    </node>


    <arg name="world_name" default="$(find iiwas_gazebo)/worlds/iiwas_world.world"/>
    <arg name="gui" default="true"/>
    <arg name="paused" default="true"/>
    <!-- Simulation -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="true"/>
        <!--        <arg name="physics" value="bullet" />-->
    </include>

    <node name="frame_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model iiwas_frame -robot_namespace iiwas_frame -param iiwas_frame/robot_description"/>

    <node name="iiwa_front_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model iiwa_front -param iiwa_front/robot_description -reference_frame iiwas_frame::front_base -robot_namespace iiwa_front"/>

    <node name="iiwa_back_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model iiwa_back -param iiwa_back/robot_description -reference_frame iiwas_frame::back_base  -robot_namespace iiwa_back"/>
</launch>
